@media screen and (max-width: 600px) {
    header {
      padding: 0 !important;
      min-height: 100vh;
    }
  
    .theme-btn {
      width: 50px;
      height: 50px;
    }
  
    .header-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 5rem;
        
    }
  
    .left-header .h-shape {
      display: none;
    }
  
    .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
    }
    .right-header .name {
      font-size: 2.8rem !important;
      text-align: center;
      padding-top: 6rem;
    }
  
    .header-content .left-header .imgage {
      margin: 0 auto;
      width: 90%;
    }
  
.controls{
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: var(--color-grey-5);
    }
 .controls .control{
      margin: 1rem 0.5rem;
    } 

    .about-container{
      grid-template-columns: repeat(1, 1fr);
    }

    .about-container .right-about{
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .section{
      padding: 2rem 2.5rem;
    }
    
    .about-container .left-about p {
      padding-left: 0;
      width: 130%;  
    }

    .about-container .left-about h4{
      width: 135%;
    }
   

    .timeline {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }

    .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
    .blogs {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 5rem;
      width: 70%;
    }

    .blogs .blog{
      width: 140%; 
    }

    .portfolios {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
      margin-top: 1rem;
    }

    .contact-content-con {
      flex-direction: column;
    }
    .contact-content-con .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }

    .contact-content-con .right-contact .i-c-2 {
      flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }

    .main-title h2 {
      font-size: 2rem;
    }

    .main-title h2 span {
      font-size: 2.3rem;
    }
    .main-title h2 .bg-text {
      font-size: 2.3rem;
    }
  }
   
  /* @media screen and (max-width: 1250px) {
    .blogs {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6rem;
    }
  
    .portfolios {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .header-content .right-header {
      padding-right: 9rem;
    }
  }

  @media screen and (max-width: 1070px) {
    .about-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
      padding-top: 2.5rem;
    }
  
    .main-title h2 {
      font-size: 4rem;
    }
    .main-title h2 span {
      font-size: 4rem;
    }
    .main-title h2 .bg-text {
      font-size: 4.5rem;
    }
  }

  @media screen and (max-width: 970px) {
    .container {
      padding: 7rem 6rem;
    }
  
    .about-container .left-about {
      padding-right: 0rem;
    }
  
    .header-content {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    .left-header .h-shape {
      display: none;
    }
    .left-header .image {
      width: 90% !important;
      margin: 0 auto !important;
    }
  
    .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
    }
    .right-header .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }
  @media screen and (max-width: 700px) {
    .container {
      padding: 7rem 3rem;
    }
  
    .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .about-container .right-about {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .timeline {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .main-title h2 {
      font-size: 3rem;
    }
    .main-title h2 span {
      font-size: 3rem;
    }
    .main-title h2 .bg-text {
      font-size: 4rem;
    }
  } */